<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOGWARTS IS NOT LIABLE FOR ANY SKREWT ATTACKS</title>
  </head>
  <nav>
    <ul>
      <li><a href="/hogwarts">Home</a></li>
      <li><a href="/hogwarts/new">Come register here</a></li>
    </ul>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
