<h1>PLEASE ENTER OUR SCHOOL WE HAVE LIKE PRACTICALLY NO DARK LORDS HERE</h1>

<form action="/hogwarts" method="post">
  <label for="first-name">Fist Name:</label>
    <input type="text" name="first_name" id= "first-name">
  <label for="last-name">Last Name:</label>
    <input type="text" name="last_name" id="last-name">
  <label for="age">Age:</label>
    <input type="number" name="age" id="age">
  <label for="house-name">House Name:</label>
    <select id="house-name" name="house_name">
      <option value="Gryffindor">Gryffindor</option>
      <option value="Hufflepuff">Hufflepuff</option>
      <option value="Ravenclaw">Ravenclaw</option>
      <option value="Slytherin">Slytherin</option>
  <input type="submit" value="Order pizza">
    <hr>
</form>
